.main-title {
  text-align: center;
  margin-top: 1rem;
}

.board-title {
  width: 100%;
}

.card-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 0, 208);
  width: 100%;
  height: auto;
  padding: 1rem;
  margin-top: 0.5rem;
  font-size: 2rem;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
}
.title-wrapper button {
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 1.5rem;
  padding: 0.5rem;
  background-color: red;
  margin-bottom: 1rem;
}

.title-wrapper button:hover {
  cursor: pointer;
  background-color: rgb(129, 0, 0);
}

.card-information {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0.5rem;
  width: 100%;
}
.individual-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(187, 255, 0);
}

.individual-title {
  font-size: 2rem;
}

.individual-text {
  font-size: 1.5rem;
  padding: 10px;
}

.board-container {
  display: flex;
  flex: 1;
  gap: 50px;
}
